@page "/"

<PageTitle>Cloudformation Goodies</PageTitle>

<h1>Hello, world!</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-4">
			<h2>
				Function JSON
			</h2>


<textarea>

</textarea>

		</div>
		<div class="col-8">
			<h2>
				Cloudformation Template
			</h2>


<textarea>

</textarea>
		</div>
	</div>


</div>

