@inherits LayoutComponentBase

<PageTitle>CloudformationGoodies</PageTitle>

<div class="page">
	<main>
		<div class="top-row px-4">
			<div class="col-10 justify-content-center">
				<h2>Cloudformation Goodies</h2>
			</div>
		
			<a href="nope/" target="_blank">About</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
