@inherits LayoutComponentBase

<PageTitle>CloudformationGoodies</PageTitle>

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">
            <h2>Cloudformation Goodies</h2>
            <a href="nope/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
